nav{
  background-color:#990;
  border-color:#806;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  text-align: right;
  box-shadow: 40px 20px 40px;

  
}
h1{
  background-color:#990000;
  color: white;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 20px 5px 20px;
  
}
p{
  background-color:#632;
  padding: 20px;
  border-radius: 40px;
}
ul{
  list-style: none;
}
ol{
  background-color:#875432;
  color: #099;
  border-radius: 30px;
}
h2{
  background-color:#227175;
  border-radius: 40px;
}
h3{
  background-color:#432;
  color:#098;
  border-radius: 20px;
  padding: 20px;
}
