nav{
  background-color:#987;
  border-radius: 20px;
  color: white;
}
h1{
  background-color:#110;
  padding: 15px;
  border-radius: 15px;
  color: white;
  margin: 15px;
  
}
h2{
  background-color:#444509;
  padding: 15px;
  border-radius: 15px;
}
ol{
  background-color:#987;
  border-radius: 20px;
  margin: 10px;
}
h3{
  background-color:#223450;
  color: white;
  border-radius: 10px;
  text-align: center;
  
}
p{
  background-color:#113451;
  border-radius: 10px;
  color: white;
  
}
